{% for item in itens %}
	<tr>
		<td>{{ item.id }}</td>
		<td>{{ item.nome }}</td>
		<td>{{ item.endereco }}</td>
		<td>{{ item.bairro }}</td>
		<td>{{ item.telefone }}</td>
		<td>{{ item.email }}</td>
		<td>{{ item.id_cidade }}</td>
	</tr>
{% endfor %}